@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  color: #F3F4F6;
}

.container-global {
  margin-inline: auto;
  width: min(90%, 72rem);
}